.preloader{
    position: relative;
    width: 200px;
    height: 100vh;
    margin: 0 auto;

    img {
        position: absolute;
        top: 30%;
        width: 200px;
        height: 200px;
    }
}